.header {
	background-color: DarkBlue;
	width: auto;
	height: 150px;
	padding: 20px;
}

.header-title {
	text-align: center;
	color: white;
	font-family: "Kunstler Script";
	font-size: 60px;
	float: left;
	display: table-cell;
	vertical-align: middle;
	width: 50%;
}

.react-logo {
	width: 120px;
	height: 120px;
}

.react-logo {
	float: left;
	animation: react-logo-spin infinite 20s linear;
}

@keyframes react-logo-spin {
	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }
}